.about-wrapper{
    background: white;
}

.header{
    color: rgba(67,67,67,19);
}
.image-container{
    width: 30rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 0rem 0rem 0 0;
    border: 8px solid rgb(255,255, 255,0.12);
}
.image-container>img{
    width: 100%;
    height: 100%;
}

.about-right{
    gap:1rem;
    background: white;

}

.about-container>div{
    flex:1;
}




.Accordinitem{
    background: white;
    margin-bottom: 20px;
    margin-top: 20px;
}
.Accordinibutton{
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    height: 2.5rem;
}
.Accordinibutton:hover{
    scale: 1.05;
}
@media (max-width:640px) {
    .about-container{
        flex-direction: column;
        width: 99%;

    }
    .image-container{
        width: 98%;
        height: 25rem;
    }
    
}